body{font-family: Arial, sans-serif; /* Font chữ */
    color: #5c6479; /* Màu chữ */
    background-color: #283758; /* Màu nền */
    margin: 0; /* Loại bỏ margin */
    padding: 0; /* Loại bỏ padding */
  
}
.container {
    width: 80%; /* Chiều rộng của container */
    margin: auto; /* Canh lề tự động */
    text-align: justify; /* Canh lề văn bản trong container */
  }
  h1 {
    font-size: 36px; /* Cỡ chữ của tiêu đề */
    color: #007bff; /* Màu chữ của tiêu đề */
  }
  
  ul {
    list-style-type: none; /* Loại bỏ các dấu đầu dòng của danh sách */
    padding: 0; /* Loại bỏ padding của danh sách */
  }
  
  li {
    margin-bottom: 10px; /* Khoảng cách giữa các mục danh sách */
    font-size: 18px; /* Cỡ chữ của mục danh sách */


/* Header **/
header{
 
}

footer{
  
}

